<div>
    <div id="paginator" v-show="previous || next" :style="options.Style">
        <nav >
            <ul class="paginator">
                <li v-show="previous">
                    <a @click.prevent="paginate('previous')" href="#">
                        &lt; Previous
                    </a>
                </li>
                <li v-for="(item, index) in paginatorArray" >
                    <a @click.prevent="pageChanged(item)" href="#" :class="getActiveClass(item)">&nbsp;&nbsp;{{item}}&nbsp;&nbsp;</a>
                </li>

                <li v-show="next">
                    <a @click.prevent="paginate('next')" href="#">
                        Next &gt;
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
